@charset "UTF-8";

body{
   		margin-bottom: 70px;
   		background: #EBEBEB;
   		margin-top: 50px;
   	}
   	
   	#content{
   		 text-align: center;
   		 border-radius: 5px;
   		 background: white;
   		 margin-bottom: 50px;
   		 min-height:500px;
   	}
   	
   	select {
   		max-width:220px;
   	}
   	
   	table input {
   		text-align: center;
   	}
   
   	
   	#competition_name,#competition_event_name{
   		max-width: 230px;
   	}
   	
   	#applied_event_div,#add_athlet_div{
   	  text-align: center;
   	  padding-top: 20px;
   	  padding-bottom: 20px;
   	} 
   	
   	#add_athlet_div{
   		padding-right: 10px;
   		padding-left: 25px;
   	}
   
   	#applied_event_div{
   		/* border-right: solid 2px #EBEBEB; */
   		padding-left: 10px;
   		padding-right: 25px;
   	}
   	
     table  {
   		background: white;
   		text-align: center;
   		margin-top: 20px;
   	}
   	
   	table thead{
   		background: #337AB7;
   		color: white;
   	}
   	
   	table th,td{
   		text-align: center;
   		vertical-align: middle!important;
   	}
   	#sex_div ,#sex_select{
   		display: inline-block;
   	}
   	
   	.checkbox {
   		margin: 0px;
   	}