@charset "UTF-8";

body{
   		background: #EBEBEB;
   		margin-bottom: 70px;
   	}
   	
   	.div_judge_manage {
   		background: white;
   	  padding: 30px 40px;
   	  border-radius: 5px;
   	  margin-bottom: 20px;
   	  min-height: 500px;
   	}
   	
   	#judge_list th{
      	background: #337AB7;
      	color: white;
     	}
     
    #judge_list th,td{
      	text-align: center;
    }
    
     #judge_list td input{
     	text-align: center;
     }
   	
   	.breadcrumb{
   		margin-top: 50px;
   	}
   	
   	h4{
   		margin: 20px 0px;
   	}
   	
   		.div_plus_icon,.div_minus_icon{
   		color: #707070;
   		padding: 10px 0px;
   		margin: 0px;
   		width: 20px;
   	}
   	