<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WushuManageSystem</display-name>
  <display-name>wushu</display-name>
  <welcome-file-list>
    <welcome-file>/admin/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CompetitionServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.CompetitionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompetitionServlet</servlet-name>
    <url-pattern>/servlet/CompetitionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/servlet/EventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StageServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.StageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StageServlet</servlet-name>
    <url-pattern>/servlet/StageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelegationServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.DelegationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelegationServlet</servlet-name>
    <url-pattern>/servlet/DelegationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AthletServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.AthletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AthletServlet</servlet-name>
    <url-pattern>/servlet/AthletServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApplyServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.ApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyServlet</servlet-name>
    <url-pattern>/servlet/ApplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GroupServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupServlet</servlet-name>
    <url-pattern>/servlet/GroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatchServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.MatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchServlet</servlet-name>
    <url-pattern>/servlet/MatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JudgeServlet</servlet-name>
    <servlet-class>com.pan.competition.servlet.JudgeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JudgeServlet</servlet-name>
    <url-pattern>/servlet/JudgeServlet</url-pattern>
  </servlet-mapping>
</web-app>